.App {
  text-align: center;
}
body{
  background-color: antiquewhite;
}


h2{
 color: brown;   
}

.slider{
  display:inline-flex;
  
}

.slide{ 
  margin: 8em;
}

.left-arrow,.right-arrow{
  font-size:xx-large;
  
}


