.App {
  text-align: center;
}
body{
  background-color:cornsilk;
}


h1{
 color: brown; 
 font-family:cursive;  
}

.slider{
  display:inline-flex;
  vertical-align: middle;
  
}

.slide{ 
  border-style: inset;
  border-width: 10px;
  border-color:brown;
  margin: 5em;
}

.left-arrow,.right-arrow{
  font-size:xx-large;
  cursor: pointer;
  color: brown;
  text-align: center;
}


